<div class="signup-container">
    <mat-card class="signup-card">
      <mat-card-title>Sign Up</mat-card-title>
      <mat-card-content>
        <form [formGroup]="userDetails" (ngSubmit)="onSubmit()" class="centered-form">
          <mat-form-field class="full-width">
            <input matInput placeholder="Name" formControlName="name" required>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Email" formControlName="email" required>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput type="text" placeholder="Password" formControlName="password" required>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput type="text" placeholder="Confirm Password" formControlName="confirmPassword" required>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Phone" formControlName="phone" required>
          </mat-form-field>
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Address" formControlName="address" required></textarea>
          </mat-form-field>
    
          <div class="button-container">
            <button mat-raised-button color="primary" type="submit" [disabled]="userDetails.invalid">Sign Up</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  